body {
    text-align: center;
    display: grid;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: cadetblue;
    border-radius: 2rem;
}

.calculator {
    padding: 2rem;
}

.input_btn {
    width: 16rem;
    margin-top: 1.5rem;
}

button {
    background-color: grey;
    width: 5rem;
    height: 4rem;
    margin: 0.1rem;
    font-weight: bold;
    font-size: 2rem;
}

input {
    width: 15rem;
    height: 3rem;
    text-align: right;
    border: 0.2rem solid black
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none
}